@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight:600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Italic.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}