main { 
  background: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/1573c486240852c0b25f6687/edfe0d34-85a2-334f-535a-16bb6c3310f4.jpg") no-repeat;
  background-position: bottom;
  min-height: 1280px;
  padding-top: 50px;
}
.wrap {
  display: flex; 
}
.wrap__row {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto; 
}  
.item-wrap  {
  width: 360px;
  padding: 40px 30px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.item-wrap__icon {
  width: 64px;
  height: 64px;
  margin: 0 auto; 
}
.item-wrap__icon_margin {
  margin-bottom: 20px;
}
.item-wrap__title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.item-wrap__title_margin {
  margin-bottom: 20px;
}
.item-wrap__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 28px;  
}
.item-wrap_orange {
  background-color: #f9926f;
  position: relative;
}
.item-wrap_purple {
  background-color: #978bb7;

}  
.item-wrap_blue{
  background-color: #8193c3;
}
.item-wrap__cross {
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.item-wrap__cross:before, .item-wrap__cross:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(238, 217, 31);
}
.item-wrap__cross:before {
  transform: rotate(45deg);
}
.item-wrap__cross:after {
  transform: rotate(-45deg);
}
  
@media (max-width: 1190px) {
  .wrap__row {
    width: 760px;
  }  
  .item-wrap {
    width: 234px;
  }  
}
@media (max-width: 764px) {
  .wrap__row {
    width: 540px;
    flex-direction: column;
    align-items: center;
  }
  .item-wrap {
    padding: 30px 10px;
    width: calc(100% - 20px);
  }
  .item-wrap_orange {
    margin-bottom: 10px;
  }
  .item-wrap_purple {
    margin-bottom: 10px;
  }  
}






